/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


/* Background Gradient */
body {
  background: linear-gradient(to bottom, #253038, #395262);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  font-family: 'Ubuntu';
  
}

/* Color Scheme */
:root {
  --dark-blue: #253038;
  --light-blue: #395262;
  --light-red: #892e2f;
  --dark-red: #451d26;
  --yellow: #c7aa41;
  --silver: #c0c0c0;
  --white: white;
}

/* Rounded Containers with Borders */
.rounded-container {
  border: 2px solid var(--light-red);
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--white);
  margin: 20px auto;
  max-width: 90%;
  width: auto; 
  box-sizing: border-box; 
}

/* Typography */

h1 {
  text-align: center;           
  letter-spacing: 2px;          
  color: #fff !important;          
  font-size: 50px !important;            
  margin-top: 20px !important;       
}

p {
  color: var(--white);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.image-container {
  margin-top: 20px;
}

.center-image {
  max-width: 50%; /* Adjust the size as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}
.center-image {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: filter 0.2s ease-in-out;
}

.center-image:hover {
  filter: brightness(80%); /* Darkens the image on hover */
}


/*------------------------------------------------------------*/
.role-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #253038, #395262);
  text-align: center;
  padding: 20px;
}
.h2 {
  color: #c7aa41; /* Gold color for the "Profile" text */
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Icon container */
.icon-container {
  margin-bottom: 30px;
}

.profile-icon {
  max-width: 100px;
  height: auto;
}

/* Button styling */
.role-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.role-button {
  background-color: #892e2f; /* Red background for buttons */
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.role-button:hover {
  background-color: #751b1c; /* Darker red on hover */
  transform: translateY(-3px);
}

/* MIGHT BE ABLE TO DELETE LATER*/
.shared-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #253038, #395262);
  text-align: center;
}


