/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


/* Background Gradient */
body {
  background: linear-gradient(to bottom, #253038, #395262);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  font-family: 'Ubuntu';
  
}

/* Color Scheme */
:root {
  --dark-blue: #253038;
  --light-blue: #395262;
  --light-red: #892e2f;
  --dark-red: #451d26;
  --yellow: #c7aa41;
  --silver: #c0c0c0;
  --white: white;
}

/* Rounded Containers with Borders */
.rounded-container {
  border: 2px solid var(--light-red);
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--white);
  margin: 20px auto;
  max-width: 90%;
  width: auto; 
  box-sizing: border-box; 
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}
h1 {
  text-align: center;           
  letter-spacing: 2px;          
  color: #ffffff;          
  font-size: 20px;            
  margin-top: 20px;       
}

p {
  color: var(--light-blue);
}

